<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Cards</title>
</head>

<form method="get">
    <%- include('header.ejs') %> 
    <body class="table1">
        <h1>미리 충천하여 사용하면 편리 합니다</h1><br>
        <br>

        <hr>
        <br>
        <h3>다양한 디자인을 구비하고 있습니다</h3><br><Br>
        
        <table>
            
            <tr>
                <th> 즐거운 생일 축하를 위해</th>
                <th> 용기와 격려를 주기 위해 </th>
            </tr><br><br>
            <tr>
                <td>
                    <img src="./images/card1.jpg">
                </td>
                <td>
                    <img src="./images/card2.jpg">
                </td>
            </tr>
            <tr>
                <th> 지구를 생각하는 마음을 담아</th>
                <th> 특별한 날을 축하하기 위해</th>
            </tr>
            <tr>
                <td>
                    <img src="./images/card4.jpg">
                </td>
                <td>
                    <img src="./images/card5.png">
                </td>
            </tr>
            <tr>
                <th> 감사한 마음을 담아</th>
            </tr>
            <td>
                <td><img src="./images/card3.png"></td>
            </td>
        </table>  
    </form>   
</body>
</html>