<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css"/>
    <title>Login Page</title>
    <style>
        
    </style>
</head>
<body>
    
    <body>
        <div id="login">
        <div id="login_form">
        <form method="POST">
            <h3 class="login" style="letter-spacing:-1px;">Sign in </h3>
            <hr>
            <label>
            <p style="text-align: left; font-size:12px; color:#666">Username</p>
            <input type="text" placeholder="아이디를 입력하세요" class="size" name="id">
            <p></p>
            </label>
    
            <label>
            <p style="text-align: left; font-size:12px; color:#666">Password </p>
            <input type="password" placeholder="비밀번호를 입력하세요" class="size" name="password">
            </label>
    
            <p>
                <input type="submit" value="Sign in" class="btn">
            </p>
        </form>
        <hr>
        <p class="find">
            <span><a href="">아이디 찾기</a></span>
            <span><a href="">비밀번호 찾기</a></span>
            <span><a href="/join" >회원가입</a></span>
        </p>
   
        <div>
        </div>
    
    </body>

</body>
</html>