<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/shop.css"/> 
    <title>Shop</title>
</head>
<body>
    <%- include('header.ejs') %> 
<form method="get">  
    
 <div class="write">
    <h1>이달의 Mingtarbucks® 만의 굿즈</h1>
    <br>
    <h3>Summer Trip Tin Bag</h3> 
    <br>
    <h3>39,900원</h3> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="font-size: x-small;">본 수량은 한정수량으로 조기 품절 될 수 있습니다.</p>
    <p style="font-size: x-small;">상기 이미지는 연출된 컷으로 이미지와 다를 수 있습니다.</p>
</div>   
<div class="picnic">
    <img src="./images/picnic.png">
</div>
</form> 

</body>
</html>